@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #C6E4E1;
    --secondary-color: #A9D4D8;
    --text-color: #031233;
    --button-color: #6AB1C7;
    --hover-button-color: #055983;
    --light-color: #FFFFFF;
}

body {
    display: flex;
    background-color: var(--light-color);
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
}